*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #b4b4b4;
}
.container{
    width: 45%;
    padding: 10px 20px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    min-height: 50vh;
    /* max-height: 150vh; */
}
.header{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.header p{
    color: #b4b4b4;
    border: 1px solid rgb(47, 0, 255);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.header p:hover{
    color: #2c2c2c;
}
.container h2{
    color: blue;
}
::placeholder{
    color: #fff;
}
.container input{
    border: none;
    outline: none;
    padding: 15px;
    width: 80%;
    background-color: #c4c4c4;
    margin-top: 15px;
    border-radius: 10px;
}
.container select{
    width: 80%;
    padding:  10px;
    margin-top: 10px;
    background-color: #d4d4d4;
    border-radius: 10px;
    border: none;
    outline-color: blue;
}
.container .btn{
    color: #fff;
    background-color: blue;
    width: 30%;
    margin: 20px auto ;
    border-radius: 10px;
    
}
.container .btn button{
    background-color: inherit;
    border: none;
    padding: 8px 15px;
    width: 100%;
    font-weight: 800;
    color:inherit;
    border-radius: inherit;
    cursor: pointer;
}
#error{
    color: red;
    margin-top: 10px;
}

/* javascript class lists */

.d-flex{
    display: flex;
    justify-content: space-between;
    border-left: 4px solid red;
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
    background-color: #c4c4c4;
    padding: 8px 10px;
}
.del{
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
}
.li{
    list-style-position: inside;
}
#total{
    margin-top: 15px;
    font-weight: 700;
}
#sort{
    border: none;
    padding: 10px;
    background-color: green;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}